.main_nav_bar{
    .navbar-toggler {
        border: 1px solid $mainColor;
    }span.ic{
        display: block;
        background-color:$mainColor;
        height: 2px;
        width: 100%;
        margin-top: 8px;
        align-items: center;
    }
    .bg-light {
        background-color: #f8f9fa!important;
        .nav-link{
            color: #333;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 2px;
            transition: all .3s ease-in-out;
            &:hover{
                color: $mainColor;
            }
        }
    }
    .reset_opacity{
        background-color: rgba($color: #ffffff, $alpha: 0);
        .nav-link{
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 17px;
            letter-spacing: 2px;
            transition: all .3s ease-in-out;
            &:hover{
                color: $mainColor;
            }
        }
    }
    .active a{
        animation: Colores 3s ease-in-out infinite;
    }
    @keyframes Colores {
        0% {
            color: $mainColor;
        }
        50% {
            color: $whitesmoke;
        }
        100% {
            color: $mainColor;
        }
    }//end keyFrames
    
    @media(max-width:983px){
        .navbar-collapse {
            background-color: #e90e65;
            padding: 15px;
            margin-top: 10px;
        }
        .reset_opacity{
            padding: 24px 20px;
            .nav-link{
                font-size: 14px;
                &:hover {
                    color: #505050;
                } 
            }
        }
        
    }
}